h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

li {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    float: left;
    margin-right: 50px;
    margin-left: 100px;
}

li img {
    display: block;
    height: 150px;
}
